<%= render "layouts/header" %>
<div class="btn-group-vertical" role="group" aria-label="...">
  <button type="button" class="btn btn-default">My Classes</button>
  <button type="button" class="btn btn-default">My Badges</button>
  <button type="button" class="btn btn-default">Settings</button>

</div>
