<%= render "layouts/header" %>
<div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">My Classes</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">My Achievements</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">Settings</button>
  </div>
</div>
</div>
