<%= render "layouts/header" %>
<div class="list">

<h1>Classes List</h1>

<%@cohorts.each do |f|%>
<ul>
<%= link_to cohort_path(id: f.id) do %>
<li><%=f.cohort_name%>, <%=f.teacher_name%></li>
<%end%>
</ul>

<%end%>
</div>
