@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'users.scss';
@import 'entry.scss';
@import 'cohort.scss';
@import 'cards.scss';

//login page

.navbar-inverse{
  background-color: #404040;
  border-color: #404040;
}

.container{
  position: relative;
  width: 100%;
  height: 800px;
  display: inline-block;
  color:#404040;
}

li{
  color: #FFD900;
}

#bs-example-navbar-collapse-1 > ul > li:nth-child(1) > p{
  color: #FFD900;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.image{
  background-image: image_url('bulletinboard.jpg');
  background-size: 100% 100%;
     background-position: center top;
     width: 100%;
     height: 720px;
     padding:20px;
     border:1px solid #021a40;
     background-color:red;

}

.container-fluid{
  color: white;
  display: flex;
  flex-wrap: nowrap;
}

.logo{
  width: 40px;
  padding-top: 10px;
}


.logo img{
  width: 40px;
  length:40px;
}
#bs-example-navbar-collapse-1{
  width: 100%;
  align-content: space-around;
}


.transbox{
  background-color: white;
  opacity: 0.5;
  position: absolute;
  width: 300px;
  height: 300px;

}

.login{
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1.0;
  position: absolute;
  width: 300px;
  height: 300px;
}


.username {
  background-color: black;
}

#user_password, #user_username {
width:100%;
}
