@import 'bootstrap-sprockets';
@import 'bootstrap';

//login page
.container{
  position: relative;
  background-color: #98dafc;
  width: 100%;
  height: 800px;
}

.image{

  background-image: image_url('study.png');
  background-size: 100% 100%;
     background-position: center top;
     width: 100%;
     height: 600px;
}
.container-fluid{
  color: white;
  display: flex;
  flex-wrap: nowrap;
}

.logo{
  width: 40px;
  padding-top: 10px;
}


.logo img{
  width: 40px;
  length:40px;
}
#bs-example-navbar-collapse-1{
  width: 100%;

  align-content: space-around;
}


.transbox{
  background-color: white;
  opacity: 0.5;
  position: absolute;
  width: 300px;
  height: 300px;

}

.login{
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1.0;
  position: absolute;
  width: 300px;
  height: 300px;


}


.username {
  background-color: black;
}

#user_password, #user_username {
width:100%;
}
