h2,p{
  font-size:100%;
  font-weight:normal;
}
ul.postit,li{
  list-style:none;

}
ul.postit{
  overflow:hidden;
  padding:3em;
}
ul.postit li a{
  font-family: 'Schoolbell', cursive;
  text-decoration:none;
  color:#000;
  background:#FFD900;
  display:block;
  height:10em;
  width:10em;
  padding:1em;

  /* FOR BOX-SHADOW */
  /* Firefox */
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  /* Safari+Chrome */
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  /* Opera */
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);

  /* FOR ROTATING */
  -webkit-transform:rotate(-6deg);
  -o-transform:rotate(-6deg);
  -moz-transform:rotate(-6deg);
}

ul.postit li a:hover,ul.postit li a:focus{
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position:relative;
  z-index:5;
}


ul.postit li{
  margin:1em;
  float:left;
}
