.stuff {
  background-color: #FFD900;
  height: 500px;
  width: 500px;
  border-radius: 25px;
  box-shadow:  10px 10px 5px #888888;
  align-items: center;

}


.profilepic{
max-width: 100%;
height: auto;
display: block;
 margin-right: -50%;
}
