<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
      <li><p class="navbar-text navbar-left">Signed in as <%=@current_user.username%></a></p></li>
      <li><%= link_to root_path do %><span class="glyphicon glyphicon-user" aria-hidden="true"></span><% end %></li>
      <li><%= link_to cohorts_path do %><span class="glyphicon glyphicon-education" aria-hidden="true"></span><% end %></li>
      <li><%= link_to sign_out_path, method: :delete do %><span class="glyphicon glyphicon-home" aria-hidden="true"></span><% end %></li>
      </ul>
    </div>
</nav>
